/* Products =========== */
.product {
  &-inventory {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }

  &-button {
    display: block;
    padding: 20px;
    min-width: 100%;
    min-height: 100%;
    background: $blue;
  }

  &-name {
    display: block;
    width: 100%;
    font-size: 12px;
    line-height: 2;
  }

  &-cost {
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
  }
}
