/* Products =========== */
.product {
  &-inventory {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }

  &-button {
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-width: 100%;
    min-height: 100%;
    background: $blue;

    .product-image {
      display: block;
      min-width: 80px;
      max-width: 120px;
      width: 100%;
      height: 100px;
      overflow: hidden;
      background-color: #333;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }

  &-name {
    display: block;
    width: 100%;
    font-size: 12px;
    line-height: 2;
  }

  &-cost {
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
  }
}
