$body-color: #e5e7da;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.2;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  background: $body-color;
  color: white;
}

/* 😈 Breaking stuff now! 🚨*/

/* Remove all focus indicators. */
/* *:focus {
  box-shadow: none;
  border: none;
  outline: none;
} */

button {
  border: none;
  /* background: none; */
}

.header {
  display: block;
  padding: 30px;
  margin-bottom: 50px;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.layout {
  display: flex;
  flex: 1 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
}

/* Products =========== */
.product-container {
  display: block;
  padding: 40px;
  width: 50%;
  background: #ccc;
}

.product button {
  display: inline-block;
  padding: 20px;
  margin: 10px;
  min-width: 40%;
}

/* Cart =========== */
.cart-container {
  display: block;
  padding: 40px;
  width: 50%;
  min-width: 300px;
  background: #333;
}
