@import "./settings";
@import "./components";

.header {
  display: block;
  padding: 30px;
  margin-bottom: 50px;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.layout {
  display: flex;
  flex: 1 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
}
