* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.2;
}

body {
  font-family: "Roboto", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: $deep-purple
    url("https://geekychristine.github.io/a11y-fail/img/memphis-pattern.jpg")
    repeat;
  color: $text-color;
}

/* 😈 Breaking stuff now! 🚨*/

/* Remove all focus indicators. */
*:focus {
  box-shadow: none;
  border: none;
  outline: 2px dotted rgba(0, 0, 0, 0.3);
}

button {
  border: none;
  color: $white;
  background: $button-color;
}

[data-modal-intro] {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.instructions {
  display: flex !important;
  justify-content: flex-start;
  background: $white !important;
  width: 80%;
  margin: 20px auto !important;
  padding: 0 !important;

  div {
    width: 50%;
    padding: 20px 40px;
  }

  .heading {
    margin-top: 20px;
  }
  p {
    margin: 10px 0;
  }

  code {
    font-family: monospace;
  }
}
