* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.2;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  background: $ice-blue;
  background-image: url("/src/img/memphis-pattern.jpg") repeat;
  color: $text-color;
}

/* 😈 Breaking stuff now! 🚨*/

/* Remove all focus indicators. */
/* *:focus {
  box-shadow: none;
  border: none;
  outline: none;
} */

button {
  border: none;
  color: $white;
  background: $button-color;
}
