$brown: #816c61;
$navy: #131b23;
$ice-blue: #e9f1f7;
$beige: #e7dfc6;
$blue: #2274a5;
$white: #fff;

$body-color: $ice-blue;
$text-color: $navy;
$button-color: $blue;

@mixin containers {
  border-radius: 4px;
  box-shadow: 0 0 0 rgba(0, 0, 0 0.1);
}
