$purple: #5d576b;
$blue: #99e1d9;
$blue-shade: darken(#99e1d9, 100%);
$beige: #fffae3;
$pink: #fcfcfc;
$white: #fcfcfc;

$body-color: $blue;
$text-color: $purple;
$button-color: $purple;

@mixin containers {
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
